.App {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc3c3;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  padding-right: 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3e97ff;
}

.active-link a {
  text-decoration: underline;
  color: #1864ba;
}

.container {
  margin: 10px;
}
