.App {
  margin: 0;
}

.navbar {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc3c3;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  padding-right: 1rem;
}
